@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: auto;
    margin: 0px;
}

:root{
    --fonte-menu : 'Bebas Neue', sans-serif;
    --fonte-login-signup : 'Roboto', sans-serif;

}

body{
    background-image: url('Imagens/Notebook\ e\ cafe.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    overflow-y: hidden;
    overflow-x: hidden;
}

header{
    font-family: var(--fonte-menu);
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, 0.219);
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.151);
}

nav{
    justify-content: space-between;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0px 10px 0px 10px;
    
}


header a {
    color : white;
    text-decoration: none;
    font-size: 3vw;
    padding: 10px;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.274);
}    

header a:hover{
    background-color: rgba(255, 255, 255, 0.267);
    border-radius: 6px;
}

#login{
    border: 1px solid rgba(0, 0, 0, 0.103);
    background-color: rgba(0, 0, 0, 0.548); 
    border-radius: 10px;
    color: salmon;
    font-family: var(--fonte-login-signup);
    font-weight: bolder;
}

#login:hover{
    text-decoration: underline;
}

#signup{
    border: 1px solid rgba(0, 0, 0, 0.103);
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 10px;
    color: salmon;
    font-family: var(--fonte-login-signup);
    font-weight: bolder;
}

#signup:hover{
    text-decoration: underline;
}



footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
    height: 2.5rem;
    background-color: rgba(0, 0, 0, 0.151);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.274);
}

footer > p {
    border: 1px solid black;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.5);  
}

footer a {
    color: white;
    text-decoration: none;
}

#dono:hover{
    background-color: rgb(245, 222, 179);
    border-radius: 6px;
    color: rgba(0, 0, 0, 0.651);
    text-decoration: underline;
}

#container {
    position: relative;
    height: 50vh;
    padding: 10px;
}

#conteudo {
    position: absolute;
    margin: auto;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border: 2px dashed rgb(245, 222, 179);
    background-color:rgba(0, 0, 0, 0.541);
    font-family: var(--fonte-login-signup);
    border-radius: 8px;
    text-align: center;
    display: inline-block;
    font-size: 2.5vw;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.199); 
    padding: 10px;   
    box-shadow: 1px 1px 1px rgba(245, 222, 179, 0.438);

}    

#conteudo > p {
    color: rgb(245, 222, 179);
    font-weight: bolder;
}


#img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 35%);


}

div#linkedin{
    position: absolute;
    top: 0%;
    left: 95%;
    transform: translate(-50%, 8%);


}

div#instagram{
    position: absolute;
    top: 0%;
    left: 92%;
    transform: translate(-50%, 8%);

}

div#facebook{
    position: absolute;
    top: 0%;
    left: 85%;
    transform: translate(-50%, 8%);
}

@media (max-height : 922px) {
    #conteudo {
        width: 60%;
        font-size: 5vw;
        position: absolute;
        margin: auto;
        transform: translate(-50%, -50%);
        top: 80%;
        left: 50%;
    }


}

@media (max-height : 420px) {
    #conteudo {
        width: 50%;
        font-size: 3.5vw;
        position: absolute;
        margin: auto;
        transform: translate(-50%, -50%);
        top: 70%;
        left: 50%;
    }

    footer {
        font-size: 2.5vw;
        height: 2rem;
        font-weight: bolder;
    }

    div#facebook{
        position: absolute;
        top: 0%;
        left: 80%;
        transform: translate(-50%, -6%);
    }

    div#instagram{
        position: absolute;
        top: 0%;
        left: 88%;
        transform: translate(-50%, -6%);
    
    }

    div#linkedin{
        position: absolute;
        top: 0%;
        left: 96%;
        transform: translate(-50%, -6%);
    
    
    }

}

@media (max-height : 280px) {
    #conteudo {
        width: 50%;
        font-size: 3vw;
        position: absolute;
        margin: auto;
        transform: translate(-50%, -50%);
        top: 60%;
        left: 50%;
    }

    footer {
        font-size: 3vw;
        height: 2rem;
        font-weight: bolder;
    }

    div#facebook{
        position: absolute;
        top: 0%;
        left: 80%;
        transform: translate(-50%, 0%);
    }

    div#instagram{
        position: absolute;
        top: 0%;
        left: 88%;
        transform: translate(-50%, 0%);
    
    }

    
    div#linkedin{
        position: absolute;
        top: 0%;
        left: 96%;
        transform: translate(-50%, 0%);
    
    
    }
 

}



@media (min-width : 320px) and (max-width: 600px) { /*Celulares*/
    #conteudo {
        width: 100%;
        font-size: 5.5vw;
        position: absolute;
        margin: auto;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }

    #img {

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 30%);
        
        
    }

    footer { 
        font-size: 2.5vw;
        font-weight: bolder;
        height: 3rem;
    }

    header a {
        font-size: 4.2vw;
    }

    
    div#facebook{
        position: absolute;
        top: 0%;
        left: 80%;
        transform: translate(-50%, 8%);
    }

    div#instagram{
        position: absolute;
        top: 0%;
        left: 88%;
        transform: translate(-50%, 8%);

    }


    div#linkedin{
        position: absolute;
        top: 0%;
        left: 96%;
        transform: translate(-50%, 8%);


    }

}




@media (min-width : 600px) and (max-width : 768px) /* Tablets */ {
    #conteudo {
        width: 100%;
        font-size: 5vw;
        position: absolute;
        margin: auto;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }

    #img {

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 30%);
        
        
    }

    footer { 
        font-size: 2vw;
        font-weight: bolder;
        height: 3rem;
    }
    


    div#facebook{
        position: absolute;
        top: 0%;
        left: 87%;
        transform: translate(-50%, 8%);
    }

    div#instagram{
        position: absolute;
        top: 0%;
        left: 92%;
        transform: translate(-50%, 8%);

    }


    div#linkedin{
        position: absolute;
        top: 0%;
        left: 97%;
        transform: translate(-50%, 8%);


    }

    header a {
        font-size: 4vw;
    }

}    

@media (min-width : 769px) and (max-width : 1024px) /* Notebooks */ {
    #conteudo {
        width: 100%;
        font-size: 5vw;
        position: absolute;
        margin: auto;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }

    #img {

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 40%);
        
        
    }

    footer { 
        font-size: 2vw;
        font-weight: bolder;
        height: 3rem;
    }
    


    div#facebook{
        position: absolute;
        top: 0%;
        left: 87%;
        transform: translate(-50%, 8%);
    }

    div#instagram{
        position: absolute;
        top: 0%;
        left: 92%;
        transform: translate(-50%, 8%);

    }


    div#linkedin{
        position: absolute;
        top: 0%;
        left: 97%;
        transform: translate(-50%, 8%);


    }

    header a {
        font-size: 4vw;
    }



}

@media (min-width : 1025px) and (max-width : 1200px) /*Telas grandes */{
    #conteudo {
        width: 100%;
        font-size: 5vw;
        position: absolute;
        margin: auto;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }

    #img {

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 45%);
        
        
    }

    footer { 
        font-size: 2vw;
        font-weight: bolder;
        height: 2rem;
    }

    
    div#facebook{
        position: absolute;
        top: 0%;
        left: 87%;
        transform: translate(-50%, -3%);
    }

    div#instagram{
        position: absolute;
        top: 0%;
        left: 92%;
        transform: translate(-50%, -3%);

    }


    div#linkedin{
        position: absolute;
        top: 0%;
        left: 97%;
        transform: translate(-50%, -3%);


    }



}

@media (min-width: 1201px) /*Tvs */{
    #conteudo {
        width: 100%;
        font-size: 3vw;
        position: absolute;
        margin: auto;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }

    footer { 
        font-size: 1.5vw;
        font-weight: bolder;
        height: 2rem;
    }

      
    div#facebook{
        position: absolute;
        top: 0%;
        left: 91%;
        transform: translate(-50%, -3%);
    }

    div#instagram{
        position: absolute;
        top: 0%;
        left: 94%;
        transform: translate(-50%, -3%);

    }


    div#linkedin{
        position: absolute;
        top: 0%;
        left: 97%;
        transform: translate(-50%, -3%);


    }


}

@include media-breakpoint-up(sm) { 
    #conteudo {
        width: 100%;
        font-size: 5.5vw;
        position: absolute;
        margin: auto;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }

    #img {

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 30%);
        
        
    }

    footer { 
        font-size: 2.5vw;
        font-weight: bolder;
        height: 3rem;
    }

    header a {
        font-size: 4.2vw;
    }

    
    div#facebook{
        position: absolute;
        top: 0%;
        left: 80%;
        transform: translate(-50%, 8%);
    }

    div#instagram{
        position: absolute;
        top: 0%;
        left: 88%;
        transform: translate(-50%, 8%);

    }


    div#linkedin{
        position: absolute;
        top: 0%;
        left: 96%;
        transform: translate(-50%, 8%);


    }




}
@include media-breakpoint-up(md) { ... }
@include media-breakpoint-up(lg) { ... }
@include media-breakpoint-up(xl) { ... }
@include media-breakpoint-up(xxl) { ... }