@charset "UTF-8";

@font-face {
    font-family: 'android';
    src: url('fonte/idroid.otf');
    font-weight: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Cores da paleta
#c5ebd6
#83e1ad
#3ddc84
#2fa866
#1a5c37
#063d1e
*/

:root{
    --cor00: #ebe5c5;
    --cor01: #c5ebd6;
    --cor02: #83e1ad;
    --cor03: #3ddc84;
    --cor04: #2fa866;
    --cor05: #1a5c37;
    --cor06: #063d1e;

    --fonte-padrão: Arial, Helvetica, sans-serif, Helvetica;
    --fonte-destaque: 'Bebas Neue', 'sans-serif';
    --fonte-android: 'android';


}

body{
    background-color: var(--cor00);
    font-family: var(--fonte-padrão);
    
}


*{
    padding: 0px;
    margin: 0px;
}

header{
    background-image: linear-gradient(to bottom ,var(--cor03), var(--cor05));
    font-family: var(--fonte-destaque);
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1{
    color: white;
    font-family: var(--fonte-destaque);
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.253);
    font-weight: normal;
}

header > p{
    color: white;
    font-family: var(--fonte-padrão);
    font-size: 1.2em;
    max-width: 500px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.253);
    padding-bottom: 30px;
}

nav{
    background-color: var(--cor05);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.349);
}

nav > a{
    color: var(--cor01);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    transition-duration: 0.5s;
}

nav >a:hover{
    color: #3ddc84;
    background-color: #00632c;

}

main{
    background-color: white;
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);
    margin-bottom: 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

main h1{
    color: var(--cor05);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;

}

main h2 {
    color: var(--cor04);
    font-family: var(--fonte-android);
    font-size: 1.3em;
    background-image: linear-gradient(to right ,var(--cor02), transparent);
    text-indent: 8px;
    font-weight: normal;
}

main p{
    margin: 15px 0px 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
}

main img {
    width: 100%;
}

main strong{
    color: var(--cor04);
    font-weight: bold;
    padding: 2px 6px;
}

main a{
    background-color: var(--cor02);
    text-decoration: none;
    font-weight: bold;
    color: var(--cor05);
    padding: 2px 6px;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor04);
}

div.video{
    background-color: var(--cor05);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    position: relative;
    padding-bottom: 59%;

}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}

aside{
    background-color: var(--cor02);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.418);

}

aside > h3{
    background-color: var(--cor05);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

aside > ul{
    list-style-position: inside;
    columns: 2;
}

footer{
    background-color: var(--cor06);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

footer a:hover{
    text-decoration: underline;
    color: var(--cor03);
}

main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

